[MESSAGES CONTROL]
disable = missing-docstring,
          too-few-public-methods,
          duplicate-code,
          no-member,
          too-many-locals,
          too-many-branches,
          too-many-statements,
          fixme
