openapi: 3.0.1
info:
  title: Dash.DB API Swagger
  description: AppSRE Dashboard Database API
  contact:
    email: app-sre@redhat.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: /api/v1
paths:
  /metrics:
    get:
      summary: Lists Image Manifests Vulnerabilities
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageManifestVulnReport'
                x-content-type: application/json
  /imagemanifestvuln:
    get:
      summary: Lists Image Manifests Vulnerabilities
      parameters:
      - name: cluster
        in: query
        required: true
        schema:
          type: string
      - name: namespace
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageManifestVulnReport'
                x-content-type: application/json
  /imagemanifestvuln/{cluster}:
    post:
      summary: Add a new Vulnerability Notification
      parameters:
        - name: cluster
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Notification object to be added to the database
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsImageManifestVuln'
      responses:
        "200":
          description: successful operation
  /deploymentvalidation:
    get:
      summary: Lists Deployment Validations
      parameters:
      - name: cluster
        in: query
        required: true
        schema:
          type: string
      - name: namespace
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentValidationReport'
                x-content-type: application/json
  /deploymentvalidation/{cluster}:
    post:
      summary: Add a new Deployment Validation
      parameters:
        - name: cluster
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Validation object to be added to the database
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsDeploymentValidation'
      responses:
        "200":
          description: successful operation
components:
  schemas:
    ImageManifestVulnReport:
      type: object
      properties:
        repository:
          type: string
        name:
          type: string
        manifest:
          type: string
        affectedPods:
          type: integer
        vulnerability:
          type: string
        severity:
          type: string
        package:
          type: string
        currentVersion:
          type: string
        fixedInVersion:
          type: string
        link:
          type: string
    ItemsImageManifestVuln:
        type: object
        required:
        - kind
        - spec
        properties:
          kind:
            type: string
            enum:
              - ImageManifestVuln
          # https://github.com/quay/container-security-operator/blob/c88d3a2/deploy/imagemanifestvuln.crd.yaml
          spec:
            type: object
            properties:
              image:
                type: string
                minLength: 1
              manifest:
                type: string
                minLength: 1
              namespaceName:
                type: string
                minLength: 1
              features:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      minLength: 1
                    versionformat:
                      type: string
                      minLength: 1
                    namespaceName:
                      type: string
                      minLength: 1
                    version:
                      type: string
                      minLength: 1
                    vulnerabilities:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            minLength: 1
                          namespaceName:
                            type: string
                            minLength: 1
                          description:
                            type: string
                            minLength: 1
                          link:
                            type: string
                            minLength: 1
                          fixedby:
                            type: string
                            minLength: 1
                          severity:
                            type: string
                            minLength: 1
                          metadata:
                            type: string
                            minLength: 1
          status:
            type: object
            properties:
              lastUpdate:
                type: string
                minLength: 1
              highestSeverity:
                type: string
                minLength: 1
              unknownCount:
                type: integer
                minimum: 0
              negligibleCount:
                type: integer
                minimum: 0
              lowCount:
                type: integer
                minimum: 0
              mediumCount:
                type: integer
                minimum: 0
              highCount:
                type: integer
                minimum: 0
              criticalCount:
                type: integer
                minimum: 0
              defcon1Count:
                type: integer
                minimum: 0
              fixableCount:
                type: integer
                minimum: 0
              affectedPods:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
    DeploymentValidationReport:
      type: array
      items:
        type: object
        properties:
          cluster:
            type: string
          context:
            type: string
          context-type:
            type: string
          namespace:
            type: string
          status:
            type: number
          validation:
            type: string
    ItemsDeploymentValidation:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            resultType:
              type: string
            result:
              type: array
              items:
                type: object
                properties:
                  metric:
                    type: object
                    properties:
                      __name__:
                        type: string
                      endpoint:
                        type: string
                      exported_namespace:
                        type: string
                      instance:
                        type: string
                      job:
                        type: string
                      kind:
                        type: string
                      name:
                        type: string
                      namespace:
                        type: string
                      pod:
                        type: string
                      service:
                        type: string
                  value:
                    type: array
                    items:
                    - type: number
                    - type: string
